@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.form {
	width: 550px;
	height: 100px;
	margin: 0 auto;
}
.main {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.input {
	border: none;
	border-radius: 10px;
	outline: none;
	border-bottom: 2px solid red;
	width: 400px;
	height: 40px;
	font-size: larger;
}
.title {
	font-size: 250%;
	font-family: 'Playfair Display', serif;
	
}
